pre {
  max-height: 500px;
  overflow-y: auto;
}

pre[class] {
  max-height: 500px;
}

.title {
font-size: medium;
font-weight: bold;
text-align: center;
}

p {
  color: #002070;
}

.book .book-header,.book .book-summary {
font-family: Garamond, serif;
}

.book .book-summary {
color:#D5EEC3;
background:#8FBED1;
}

.book .book-summary ul.summary li a,.book .book-summary ul.summary li span {
color:#00113D;
}

.book .book-summary ul.summary li a:hover,.book .book-summary ul.summary li.active>a {
color:#D5EEC3;
}

.book .book-body {
color:#D5EEC3;
background:#D5EEC3;
}

.book .book-body .page-wrapper .page-inner section.normal {
color:#002070;
}

.book .book-body .page-wrapper .page-inner section.normal a {
color:#8FBED1;
}

.book .book-body .page-wrapper .page-inner section.normal hr {
height:4px;
padding:0;
margin:1.7em 0;
overflow:hidden;
background-color:#8FBED1;
border:none
}

.book .book-body .page-wrapper .page-inner section.normal pre {
overflow:auto;
word-wrap:normal;
margin:0 0 1.275em;
padding:.85em 1em;
background:#D5EEC3;
}

.book .book-body .navigation {
position:absolute;
top:50px;
bottom:0;
margin:0;
max-width:150px;
min-width:90px;
display:flex;
justify-content:center;
align-content:center;
flex-direction:column;
font-size:40px;
color:#002070;
text-align:center;
-webkit-transition:all 350ms ease;
-moz-transition:all 350ms ease;
-o-transition:all 350ms ease;
transition:all 350ms ease
}

